body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 2em;
}

.colours-container {
  display: flex;
}

.colour-div {
  width: 18vw;
  height: 70vh;
  box-shadow: 5px 5px 5px rgb(114, 114, 114, 0.7);
  border-radius: 10px;
  margin: 0.5em;
}

.colour-div p {
  font-size: 1.2em;
  margin-top: 10px;
}

.colour {
  height: 90%;
  border-radius: 10px 10px 0 0;
}
