body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 2em;
}

.colours-container {
  display: flex;
}

.colour {
  width: 18vw;
  height: 70vh;
  box-shadow: 5px 5px 5px rgb(114, 114, 114, 0.7);
  border-radius: 10px;
}

.colour-1,
.colour-2,
.colour-3,
.colour-4,
.colour-5 {
  height: 85%;
  border-radius: 10px 10px 0 0;
}
